<div class="span4 box {{content.color}}">
    <section data-bean="longArticles:Views.LongArticleBox(this,open,close)" class="article-box long {{content.position}}">
        <div class="row wide-wrapper">
            <div class="span4">
                <div class="main">
                    <h2>{{content.title}}</h2>
                    <p>{{content.copy}}</p>
                    <a href="#" data-bean="open:this">Find out more</a>
                </div>
             </div>
            <div class="span8">
                <div class="more">
                    <h3>{{content.moreTitle}}</h3>
                    <p>{{content.moreCopy}}</p>
                    <a href="#" data-bean="close:this">Close</a>
                </div>
            </div>
         </div>
    </section>
</div>
