<!DOCTYPE html>
<html>
    <head>
        {{{cms-init}}}
        <title>{{content.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{contextPath}}/static/css/bootstrap.css">
        <link  rel="stylesheet" href="{{contextPath}}/static/css/main.css">
        <script type="text/javascript" src="{{contextPath}}/static/scripts/vendor/modernizr-2.6.2.min.js"></script>
        <meta name="description" content="{{content.description}}">
        <meta name="keywords" content="{{content.keywords}}">
    </head>
    <body data-bean="page:HomePage(sliders[])">
        <div class="container">
            <header>
                <img class="logo" src="{{contextPath}}/static/images/etectureogilvy-logo.png" alt="{{content.title}}">
            </header>
            {{{cms-area name="carousel"}}}
            {{{cms-area name="boxSet1"}}}
            {{{cms-area name="boxSet2"}}}
            <div class="row small">
                <div class="span2 hidden-phone">
                    <div class="box small pink right"></div>
                </div>
                <div class="span2 box lilac hidden-phone">
                    <div class="article-box">
                        <div class="copy">
                            <p>{{content.teaser1}}</p>
                        </div>
                    </div>
                </div>
                <div class="span6 box white hidden-phone">
                    <div class="article-box headline">
                        <h3>{{content.teaser2}}</h3>
                    </div>
                </div>
                <div class="span2">

                    
                </div>
            </div>
            <div class="row small  hidden-phone">
                <div class="span4">
                    <div class="box small purple right"></div>
                </div>
                <div class="span2">
                    <div class="box large blue"></div>
                </div>
                <div class="span2">
                    <div class="box small blue"></div>
                </div>
                <div class="span2">
                    <div class="box large blue"></div>
                </div>
                <div class="span2">
                    <div class="box large blue"></div>
                </div>
            </div>
            <div class="row small hidden-phone">
                <div class="span2 offset10">
                    <div class="box small right darkblue"></div>
                </div>
            </div>
            <div class="row colored-footer hidden-phone">
                <div class="span4"></div>
                <div class="span4"></div>
                <div class="span4"></div>
            </div>
            <footer>
                <p>{{content.footer}}</p>
            </footer>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/scripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{contextPath}}/static/scripts/vendor/iscroll.js"></script>
        <script src="{{contextPath}}/static/scripts/Views/Slider.js"></script>
        <script src="{{contextPath}}/static/scripts/Views/ArticleBox.js"></script>
        <script src="{{contextPath}}/static/scripts/Views/LongArticleBox.js"></script>
        <script src="{{contextPath}}/static/scripts/Environment.js"></script>
        <script src="{{contextPath}}/static/scripts/BasePage.js"></script>
        <script src="{{contextPath}}/static/scripts/HomePage.js"></script>
        <script src="{{contextPath}}/static/scripts/Container.js"></script>
        <script src="{{contextPath}}/static/scripts/Application.js"></script>
        <script src="{{contextPath}}/static/scripts/main.js"></script>
    </body>
</html>